<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html>
    <head>
      <title>{{config.app_name}}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="width=device-width, initial-scale=1" name="viewport" />

      <!-- BEGIN GLOBAL MANDATORY STYLES -->
      <!--<link href="https://fonts.cat.net/css?family=Open+Sans" rel="stylesheet" type="text/css" />-->
        <link href="{{config.app_url_prefix}}/static/global/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{config.app_url_prefix}}/static/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{config.app_url_prefix}}/static/global/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{config.app_url_prefix}}/static/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
        <link href="{{config.app_url_prefix}}/static/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
        <link href="{{config.app_url_prefix}}/static/plugins/jquery-easyui-1.4.4/themes/material/easyui.css" rel="stylesheet" type="text/css" />
        <link href="{{config.app_url_prefix}}/static/plugins/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

      <!-- BEGIN THEME GLOBAL STYLES -->
      <link href="{{config.app_url_prefix}}/static/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
      <link href="{{config.app_url_prefix}}/static/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
      <!-- END THEME GLOBAL STYLES -->

      <!-- BEGIN THEME LAYOUT STYLES -->
      <link href="{{config.app_url_prefix}}/static/global/layout/css/layout.css" rel="stylesheet" type="text/css" />
      <link href="{{config.app_url_prefix}}/static/global/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
      <link href="{{config.app_url_prefix}}/static/global/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
      <!-- END THEME LAYOUT STYLES -->
      <link rel="shortcut icon" href="{{config.app_url_prefix}}/static/global/img/favicon.ico" />

      <!--引入插件样式-->
      <link href="{{config.app_url_prefix}}/static/plugins/bootstrap-table/css/bootstrap-table.css" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/select2/sass/select2-bootstrap.min.scss" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/select2/css/select2.css" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet">
      <link href="{{config.app_url_prefix}}/static/plugins/jquery-treegrid-0.2.0/css/jquery.treegrid.css" rel="stylesheet">
      <!--<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css">-->


      <!--BASIC GLOBAL SCRIPTS-->
      <script src="{{config.app_url_prefix}}/static/global/jquery/jquery.min.js" type="text/javascript"></script>
      <script src="{{config.app_url_prefix}}/static/global/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="{{config.app_url_prefix}}/static/global/js/app.js" type="text/javascript"></script>
    </head>
    <!--End head-->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md page-sidebar-fixed">

  <!--BEGIN HEADER开始页面布局中头部分-->
  <div class="page-header navbar navbar-fixed-top">
    <!--引入头文件navbar-->
      <!--页面header-->
      <div class="page-header-inner">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
              <a href="/index">
                  <img src="{{config.app_url_prefix}}/static/global/layout/img/logo.png" alt="logo" class="logo-default" />
              </a>
              <div class="menu-toggler sidebar-toggler">
                  <span></span>
              </div>
          </div>
          <!-- END LOGO -->

          <!-- BEGIN RESPONSIVE MENU TOGGLER响应式菜单toggler -->
          <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
              <span></span>
          </a>
          <!-- END RESPONSIVE MENU TOGGLER -->

          <!-- BEGIN TOP NAVIGATION MENU 导航菜单 -->
          <div class="top-menu">
              <ul class="nav navbar-nav pull-right">
                  <!-- BEGIN USER LOGIN DROPDOWN -->
                  <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                  <li class="dropdown dropdown-user">
                      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <img alt="" class="img-circle" src="{{config.app_url_prefix}}/static/global/layout/img/avatar3_small.jpg" />
                          <span class="username username-hide-on-mobile">{{session.user.user_name}}</span>
                          <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-default">
                          <li class="divider"></li>
                          <li>
                              <a href="page_user_lock_1.html">
                                  <i class="icon-lock"></i> 锁屏 </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-grid"></i> 系统设置 </a>
                          </li>
                          <li>
                              <a href="login/logout">
                                  <i class="icon-key"></i> 退出登录 </a>
                          </li>
                      </ul>
                  </li>
                  <!-- END USER LOGIN DROPDOWN -->
              </ul>
          </div>
          <!-- END TOP NAVIGATION MENU -->
      </div>
  </div>

  <!-- BEGIN HEADER & CONTENT DIVIDER -->
  <div class="clearfix"> </div>
  <!-- END HEADER & CONTENT DIVIDER -->

  <!--主容器，容纳侧边导航栏和主页面-->
  <div class="page-container">

    <!--sidebar 侧边导航栏-->
    <div class="page-sidebar-wrapper">
      <!--引入侧边菜单-->
        <!--sidebar 侧边菜单页面 -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>

    <!--主页面内容-->
    <div class="page-content-wrapper">
      <div class="page-content">
          <!--page body-->
          {{{body}}}
      </div>
    </div>

  </div>

  <!--页脚版权信息展示区-->
  <div class="page-footer">
      <!-- 页面footer -->
      <div class="page-footer-inner"> 2017 &copy; Lavendor
          <a href="https://gitlab.com/lavendor" title="这是我的github" target="_blank">GitLib</a>
      </div>
      <div class="scroll-to-top">
          <i class="icon-arrow-up"></i>
      </div>
  </div>

  <!--引入脚本-->
  <!--[if lt IE 9]>
<script src="{{config.app_url_prefix}}/static/global/js/respond.min.js"></script>
<script src="{{config.app_url_prefix}}/static/global/js/excanvas.min.js"></script>
<![endif]-->

  <!-- BEGIN GLOBAL JAVASCRIPT -->
  <script src="{{config.app_url_prefix}}/static/global/jquery/js.cookie.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/global/jquery/jquery.blockui.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/lavendor/utils/common-utils.js" type="text/javascript"></script>
  <!-- END GLOBAL JAVASCRIPTS -->

  <!-- BEGIN THEME LAYOUT SCRIPTS -->
  <script src="{{config.app_url_prefix}}/static/global/layout/scripts/layout.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/global/layout/scripts/demo.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/global/layout/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/global/layout/global/scripts/quick-nav.js" type="text/javascript"></script>
  <!-- END THEME LAYOUT SCRIPTS -->

  <!--引入插件的js-->
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-table/js/bootstrap-table.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-tableExport/tableExport.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-tableExport/jquery.base64.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.js"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-treegrid-0.2.0/js/jquery.treegrid.js"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-validation/js/localization/messages_zh.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/lavendor/plugins/lavendor.form.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/bootstrap-select/js/i18n/defaults-zh_CN.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/select2/js/select2.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jstree/dist/jstree.js" type="text/javascript"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
  <script src="{{config.app_url_prefix}}/static/plugins/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
  <script src="{{config.app_url_prefix}}/static/lavendor/js/layout-init.js"></script>
</body>
</html>
